@font-face {
    font-family: logo-font;
    src: url('webfont/Junction-webfont.ttf');
}
@font-face {
    font-family: logo-font-chunky;
    src: url('webfont/Chunkfive-webfont.ttf');
}
@font-face {
    font-family: ostrich-lite;
    src: url('webfont/ostrich-light-webfont.ttf');
}
@font-face {
    font-family: ostrich-dark;
    src: url('webfont/ostrich-black-webfont.ttf');
}
body {
    background-color: #BFEFFF;
    color: #366974;
}
.logoimg {
    display: inline-block;

}
.content-blurb {
    font-size: 1.5em;
    text-align: center;
    font-family: ostrich-dark;
}
.span4,
.span12 {
    text-align: center;
}
.content-divider {
    border-top: 1px dashed #98c6de;
    padding-top: 30px;
    margin-top: 20px;
}
.sf-container {
    margin: 30px;

}
.sf-container .img-polaroid {
    margin-bottom: 10px;

}
#coderwall-container {
    margin-top: 10px;
    border-top: 1px solid #CCC;
    padding-top: 10px;
}
.coderwall {
    display: inline-block;
    text-align: center;
}
.coderwall-root {
    float: none;
}
#github-container .table {
    font-size: .9em;
}
h1 small {
    clear: left;
    display: inline-block;
    font-size: 0.5em;
}

#github-container {
    display: block;
}
.github-item {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    background-color:#4CC9DF;
    width: 235px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
h3.github-title {
    color: white;
    padding: 5px;
    text-align: center;
    font-family: ostrich-lite;
}
.github-desc {
    background-color: white;
    padding: 10px
}
.github-link {
    display: inline-block;
    width: 100%;
}